body {
    margin: 0;
}

.chatPomme {
    display: flex;
    justify-content: center;
    background: rgb(33, 32, 38);
}

.chatPomme img {
    width: 111vh;
}

.hiddenLinkBotRight {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 64px;
    height: 64px;
    ;
}

.hiddenLinkBotRight {
    cursor: default;
}